<nav class="navbar">
  <div class="title-head">
    <span class="image"><img src="/image/logo1.png" /></span>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/arts">Artworks</a></li>
    <% if(currentUser == true){ %>
    <li><a href="/arts/new">New Artwork</a></li>
    <% } %> <% if(currentUser == false){ %>
    <li><a href="/cart">My Cart</a></li>
    <% } %> <% if(currentUser === undefined) {%>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <% }else { %>
    <li><a href="/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>
